* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header__content {
    padding-block: 29px;
    border-bottom: 1px solid #EBE8F4;
}

.header__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
    color: #22202E;
}

.main__navigation {
    display: flex;
    column-gap: 44px;
    padding-right: 66px;
}

.main__navigation-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #726E8D; 
}

.side__panel {
    display: flex;
    column-gap: 16px;
}

.side__panel-search{
    width: 16px;
    height: 16px;
    background-image: url(../img/Search.png);
    background-position: center;
    background-repeat: no-repeat;
}
.side__panel-cart {
    width: 16px;
    height: 16px;
    background-image: url(../img/Shopping--cart.png);
    background-position: center;
    background-repeat: no-repeat;
}
.side__panel-avatar {
    width: 16px;
    height: 16px;
    background-image: url(../img/User--avatar.png);
    background-position: center;
    background-repeat: no-repeat;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 50.4px;
    text-align: center;
    color: #2A254B;
    margin-block: 80px 24px;
}


.filter__item {
    display: flex;
    column-gap: 60px;
}

/* Стилизація Select (Експеримент) */
.filter__category,
.filter__type,
.filter__price,
.filter__brand,
.filter__date  {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 90px;
    appearance: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2A254B;
    cursor: pointer;
    background: url(../img/Caret--down.png);
    background-position: right;
    background-repeat: no-repeat;
}
.filter__type {
    width: 116px;
}
.filter__price {
    width: 60px;
}
.filter__brand {
    width: 67px;
}
.filter__date {
    width: 94px;
}

.sorting__item {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.sorting__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #2A254B;
}

.content__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 20px;
    margin-top: 53px;
}

.item__image {
    margin-bottom: 24px;
}

.item__image img {
    width: 100%;
    object-fit: cover;
}

.product__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #2A254B;
}

.product__price {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2A254B;
}

.view-collection__button {
    text-align: center;
    margin-block: 48px 40px;
}

.view-collection__link {
    display: inline-block;
    padding: 16px 32px;
    background: #F9F9F9;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2A254B;
}

.invite__wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.invite__image {
    background-image: url(../img/Image.jpg);
    background-repeat: no-repeat;
}

.invite__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    color: #2A254B;

    padding-top: 71px;
    padding-left: 49px;

}

.invite__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2A254B;

    padding-top: 21px;
    padding-left: 49px;
}

.invite__link-button {
    margin-left: 49px;
    margin-top: 216px;
    margin-bottom: 70px;
}

.invite__link {
    display: inline-block;
    padding: 16px 32px;
    background: #2A254B;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__wrapper {
    background: #2A254B;
}

.footer__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 93px;
    padding-block: 60px;
}

.footer__info-list {
    display: flex;
    justify-content: space-between;
}

.footer__info-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #FFFFFF;
}

.footer__item-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #FFFFFF;
}

.media__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 24px;

    border-top: 1px solid #4E4D93;
}

.media__wrapper-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #fff;
}

.media__list {
    display: flex;
    column-gap: 24px;
}

.media__list-ln,
.media__list-fb,
.media__list-inst,
.media__list-x,
.media__list-pin,
.media__list-skype {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}
.media__list-ln {
    background-image: url(../img/Vector.png);
}
.media__list-fb {
    background-image: url(../img/Vector-1.png);
}
.media__list-inst {
    background-image: url(../img/Vector-2.png);
}
.media__list-skype {
    background-image: url(../img/Vector-3.png);
}
.media__list-x {
    background-image: url(../img/Vector-4.png);
}
.media__list-pin {
    background-image: url(../img/Vector-5.png);
}